
* {
    box-sizing: border-box;
}

.screen-reader-text {
    position: absolute;
    text-indent: -9999px;
}

html, body {
    width: 100%;
    font-family: monospace, sans-serif;
    color: #020202;
    font-size: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

html, body, header, main, aside, footer {
    background-color: #fff;
}

html {
    height: 100%;
    padding: 1.5rem;
    background-image: url('tile.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: initial;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1px 1px 4px rgba(0, 0, 0, 0.1);
}

header, main, footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

header {
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 1 / 1;
    height: 124px;
}

main {
    grid-row-start: 2;
    grid-row-end: 3;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 0.75rem;

    p, ::before {
        max-width: 100%;
    }

    ::before {
        content: '';
        display: block;
        background-image: url('banner.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        aspect-ratio: 245 / 128;
        margin-bottom: 1rem;
    }
}

.logo {
    display: block;
    aspect-ratio: 1 / 1;
    height: 3rem;

    &.instagram {
        background-image: url('instagram.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &.tiktok {
        background-image: url('tiktok.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}