
* {
    box-sizing: border-box;
}

.screen-reader-text {
    position: absolute;
    text-indent: -9999px;
}

html, body {
    width: 100%;
    font-family: monospace, sans-serif;
    color: #020202;
    font-size: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body, .wrapper, header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
}

body {
    height: 100%;
    padding: 2rem;
    background-image: url('https://paxjah.art/tile.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: initial;
}

.wrapper {
    padding: 2rem 1rem 0;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 1px 1px 4px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

header, main, footer {
    width: 100%;
}

header {
    background-image: url(https://paxjah.art/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 1 / 1;
    height: 124px;
}

main {
    padding: 1rem 1rem 0;
}

footer {
    font-size: 0.75rem;

    p, ::before {
        max-width: 100%;
    }

    ::before {
        content: '';
        display: block;
        background-image: url('https://paxjah.art/banner.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        aspect-ratio: 245 / 128;
        margin-bottom: 1rem;
    }
}