
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: monospace, sans-serif;
    color: #020202;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

html {
    padding: 0;
    height: 100vh;
    background-color: #ffffff;
    background-image: url('tile.png');
    background-repeat: repeat;
    background-position: top left;
    background-size: initial;
}

body,
header,
main,
aside,
aside p,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    padding: 2rem;
    background-color: transparent;
}

aside p {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

footer {
    font-size: 0.875rem;
}

.screen-reader-text {
    position: absolute;
    text-indent: -9999px;
}

.wrapper {
    width: 765px;
    max-width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    aspect-ratio: 1 / 1;
    min-height: 6rem;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.banner {
    display: block;
    aspect-ratio: 490 / 256;
    height: 256px;
}

.social {
    display: block;
    aspect-ratio: 1 / 1;
    min-height: 2rem;

    &.instagram {
        background-image: url('instagram.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &.tiktok {
        background-image: url('tiktok.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}